aiohttp==3.8.1
brotlipy==0.7.0
clip-by-openai==1.1
einops==0.4.1
glob2==0.7
huggingface==0.0.1
ipywidgets==7.7.0
jupyterlab==3.3.4
matplotlib==3.5.2
omegaconf==2.2.1
pandas==1.4.2
pyflakes==2.4.0
pyOpenSSL==19.1.0
PySocks==1.7.1
sagemaker-training==4.1.0
sklearn==0.0
streamlit
torchvision>=0.8.2
pytorch-lightning
tokenizers>=0.10.2
torchelastic==0.2.1
tqdm>=4.46.0
transformers==4.19.2
wandb==0.12.17
googletrans
nltk
uvicorn
fastapi